<%- include('templates/header',{tituloWeb: 'Pagina 404'}) %>
 

    <h1 class="display-2 text-warning bg-dark"><%= titulo %>:... <%= descripcion  %>  </h1>

    <%- include ('templates/footer', {footer: '404'}) %> 