<%- include('templates/header',{tituloWeb: 'Inicio'}) %>

    <h1 class="d-block p-2 bg-primary text-white display-1">Mi sitio Dinámico</h1>
    <h1 class="display-2"><%= titulo %></h1>

<%- include ('templates/footer', {footer: 'Inicio'}) %> 